.el-card {
  border-radius: 10px !important;
}

.el-popper img {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width:992px) {
  .el-backtop {
    right: 10px !important;
    bottom: 10px !important;
  }
}