:root {
  --animate-duration: 0.8s !important;
  --animate-delay: 5s !important;
  --ty-blue: #66ccff;
  --title-color: #000;
  --title-size: 20px;
  --title-font-weight: bold;
  --subtitle-color: #7b7b7b;
  --subtitle-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  background: none;
  font-size: inherit;
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.right-enter-active,
.right-leave-active {
  transition: transform 0.5s ease;
}

.right-enter-from {
  transform: translateX(-100%);
}

.right-leave-to {
  transform: translateX(100%);
}

.hover-action {
  cursor: pointer;

  &:hover {
    color: var(--ty-blue) !important;
  }
}

.wrapper-title {
  text-align: center;
  margin-bottom: 20px;
}